{% extends "base.html" %}
{% block body_class %}login-page{% endblock %}

{% block content %}

<div class="login">
       <div class="login-header">
        <h1>Inicia sesión</h1>
        <p>Conéctate para continuar tu partida</p>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flash-error">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}

        <div class="form1">
            {{ form.username.label }}
            {{ form.username(size=32, class_="form-input", placeholder="Usuario o correo") }}
        </div>

        <div class="form2">
            {{ form.password.label }}
            {{ form.password(size=32, class_="form-input", placeholder="Contraseña") }}
        </div>

        {{ form.submit(class_="boton", value="Iniciar Sesión") }}
    </form>

    <hr>

    <div class="registrolink">
        <p>¿No tienes una cuenta?
            <a href="{{ url_for('auth.register') }}">Regístrate aquí</a>
        </p>
    </div>
</div>

{% endblock %}
