<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='miperfil.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="perfil-container">
        <h2>Mi Perfil</h2>
        
        <i class="fas fa-user profile-icon"></i>
        
        <div class="info-usuario">
            <i class="fas fa-user-circle"></i>
            <span>Usuario: {{ current_user.username }}</span>
        </div>

        <a href="{{ url_for('inicio') }}" class="boton-volver">Volver al Inicio</a>
    </div>
</body>
</html>
